/*cadastro*/
main .Cadastro-b {
    overflow: auto;
    align-items: center;
    border-radius: 8px;
    color: #000000;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 10px 0px rgb(206, 202, 202);
    padding: 20px;
}

main .Cadastro-d {
    overflow: auto;
    align-items: center;
    border-radius: 8px;
    color: #000000;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 10px 0px rgb(206, 202, 202);
    padding: 20px;
}

main .Cadastro-d button {
    min-width: 100%;
    margin-top: 9px;
    margin-bottom: 0px;
    font-size: 14px;
    margin-left: 10px;
}

.Cadastro-d input {
    border-bottom: 1px solid rgba(255, 14, 14, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: transparent;
    margin-left: 10px;
    font-size: 14px;
}

main .Cadastro-b form h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 31px;
}

.form-control:focus {
    border-radius: 3px;
}

main .Cadastro-b form a:focus {
    color: #dc3545;
    text-decoration: none;
}

main .Cadastro-b form a:hover {
    text-decoration: none;
}

label {
    font-size: 15px;
}

form a,
p {
    font-size: 13px;
    text-align: center;
}

span {
    font-size: 13px;
}